/* login.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    /* background: url(../images/background_login.jpg) no-repeat center center fixed; */
    /* background-size: cover; */
    /* ******************************************** */
    background: url(../images/image.png) no-repeat center center fixed;
    background-size: contain;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
}

.login-box {
    width: 350px;
    margin: 100px auto; /* Center the box */
    padding: 20px;
    background-color: grey;
    background-size: cover;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    border-radius: 10px;
    text-align: center;
    backdrop-filter: blur(5px);
}

.login-box h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

.login-box input[type = "text"]{
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.login-box button{
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-box button:hover{
    background-color: #0056b3;
}

.guest-button {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #09001c;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.guest-button:hover {
    background-color: #302b53;
}

.error-message {
    color: red;
    margin-bottom: 15px;
}