/* main.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.logo {
    width: 50px;
    height: 50px;
}

.search-bar input {
    padding: 10px;
    font-size: 16px;
    width: 400px;
    border-radius: 5px;
    border: none;
}

.search-bar button {
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.user-info a {
    color: white;
    text-decoration: none;
    align-items: center;

}

/* Main Content */
.content {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Film List Container */
.film-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.film-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
}

.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px; 
    height: 180px; 
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.movie-card img {
    width: 100%; 
    height: 80%; 
    object-fit: cover;
}

.movie-card h3 {
    margin: 10px 0;
    font-size: 1.1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.prev-button,
.next-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    border-radius: 50%;
}

.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}

.prev-button:hover,
.next-button:hover {
    background-color: #0056b3;
}
