<!-- content.html -->
<!DOCTYPE html>
<html lang = 'en'>
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <title> {{ item['name'] }}</title>
</head>
<body>
    <h1>{{ item['name'] }}</h1>
    <p><strong>Description: </strong>{{ item['description'] }}</p>
    <p><strong>Rating: </strong>{{ item['ratingValue'] }} ({{ item['ratingCount']}} reviews)</p>
    <p><strong>Genre: </strong>{{ item['genre'] }}</p>
    <p><strong>Duration: </strong>{{ item['duration'] }}</p>

    <a href = "{{url_for('main')}}">Back To Main Page</a>
</body>
</html>