<!--main.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <header class="header">
        <img src="../static/images/logo.png" alt="Logo" class="logo">
        <form method="POST" class="search-bar">
            <input type="text" id="search" name="search" placeholder="Search for a movie">
            <button type="submit">Search</button>
        </form>
        <div class="user-info">
            
            <span>Welcome, <a href="{{ url_for('rated_movies') }}">{{ user_name }}</a></span>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </header>

    <main class="content">
        {% if search_results %}
            <section class="search-results">
                <h2>Search Results</h2>
                <div class="film-list">
                    {% for movie in search_results %}
                        <div class="movie-card">
                            <a href="{{ url_for('content', content_id=movie['fid']) }}">
                                <div class="movie-card">
                                    <img src="{{ movie.image }}" alt="{{ movie.name }}" class="main-movie-image">
                                    <h3>{{movie.name}}</h3>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </section>
        {% endif %}

        {% if not is_guest %}
            <section class="you-may-like">
                <h2>You May Like</h2>
                <div class = "film-slider">
                    <button class="prev-you-may-like">&#8249;</button>
                    <div class="film-list">
                        {% for movie in you_may_like_movies[display_index_you_may_like:display_index_you_may_like+5] %}
                            <div class="movie-card">
                                <a href="{{ url_for('content', content_id=movie['fid']) }}">
                                    <div class="movie-card">
                                        <img src="{{ movie.image }}" alt="{{ movie.name }}" class="main-movie-image">
                                        <h3>{{movie.name}}</h3>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <button class="next-you-may-like">&#8250</button>
                </div>
            </section>
        {% endif %}

        <section class="highest-rated">
            <h2>Highest Rated Films</h2>
            <div class = "film-slider">
                <button class="prev-highest-rated">&#8249;</button>
                <div class="film-list">
                    {% for movie in highest_rated_movies[display_index_highest_rated:display_index_highest_rated+5] %}
                        <div class="movie-card">
                            <a href="{{ url_for('content', content_id=movie['fid']) }}">
                                <div class="movie-card">
                                    <img src="{{ movie.image }}" alt="{{ movie.name }}" class="main-movie-image">
                                    <h3> {{movie.name}} </h3>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <button class="next-highest-rated">&#8250</button>
            </div>
        </section>

        <section class = "additional-links">
            <h2>Links</h2>
            <ul>
                <li><a href = "https://github.com">Github</a></li>
            </ul>
        </section>
    </main>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const isGuest = "{{ is_guest }}".toLowerCase() === 'true';
            if (!isGuest) {
                const prevButtonYouMayLike = document.querySelector('.prev-you-may-like');
                const nextButtonYouMayLike = document.querySelector('.next-you-may-like');
                let offsetYouMayLike = parseInt("{{ display_index_you_may_like }}", 10);
    
                const updateYouMayLike = (offset) => {
                    fetch(`/update_you_may_like?offset=${offset}`)
                        .then(response => response.json())
                        .then(data => {
                            const filmList = document.querySelector('.you-may-like .film-list');
                            filmList.innerHTML = '';
                            data.movies.forEach(movie => {
                                filmList.innerHTML += `
                                    <div class="movie-card">
                                        <a href="/content/${movie.fid}">
                                            <div class = "movie-card">
                                                <img src="${movie.image}" alt="${movie.name}" class="main-movie-image">
                                                <h3>${movie.name}</h3>
                                            </div>    
                                        </a>
                                    </div>`;
                            });
                            offsetYouMayLike = offset;
                        });
                };
    
                prevButtonYouMayLike.addEventListener('click', function() {
                    if (offsetYouMayLike > 0) {
                        updateYouMayLike(offsetYouMayLike - 5);
                    }
                });
    
                nextButtonYouMayLike.addEventListener('click', function() {
                    updateYouMayLike(offsetYouMayLike + 5);
                });
            }
    
            // Highest Rated Pagination
            const prevButtonHighestRated = document.querySelector('.prev-highest-rated');
            const nextButtonHighestRated = document.querySelector('.next-highest-rated');
            let offsetHighestRated = parseInt("{{ display_index_highest_rated }}", 10);
    
            const updateHighestRated = (offset) => {
                fetch(`/update_highest_rated?offset=${offset}`)
                    .then(response => response.json())
                    .then(data => {
                        const filmList = document.querySelector('.highest-rated .film-list');
                        filmList.innerHTML = ''; // Clear the existing movies
                        data.movies.forEach(movie => {
                            filmList.innerHTML += `
                                <div class="movie-card">
                                    <a href="/content/${movie.fid}">
                                        <div class = "movie-card">
                                            <img src="${movie.image}" alt="${movie.name}" class="main-movie-image">
                                            <h3>${movie.name}</h3>
                                        </div>    
                                    </a>
                                </div>`;
                        });
                        offsetHighestRated = offset;
                    });
            };
    
            prevButtonHighestRated.addEventListener('click', function() {
                if (offsetHighestRated > 0) {
                    updateHighestRated(offsetHighestRated - 5);
                }
            });
    
            nextButtonHighestRated.addEventListener('click', function() {
                updateHighestRated(offsetHighestRated + 5);
            });
        });
    </script>
</body>
</html>
